
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.header{
    color:black;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 45px;
}
.header >h1{
    display:inline-block;
}
.header > a{
    display:inline-block;
    float:right;
    /*padding-right:10%;*/

}